<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Nures</title>
</head>

<body>
    <h1>Nuress</h1>

    <form action="/nuress/{{nuress._id}}?_method=PUT" method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" value="{{nuress.name}}">
        </div>

        <div>
            <label for="">phone</label>
            <input type="number" class="form-control" name="phone" value="{{nuress.phone}}">
        </div>

        <div>
            <label for="">Specialist</label>
            <select name="specialist_id" id="" class="form-select">
                <option value="{{nuress.specialist_id._id}}">{{nuress.specialist_id.name}}</option>
                {{#each specialits}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>

        <div>
            <label for="">Hospital</label>
            <select name="hospital_id" id="" class="form-select">
                <option value="{{nuress.hospital_id._id}}">{{nuress.hospital_id.name}}</option>
                {{#each hospital}}
                <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            <label for="">Photo</label>
            <input type="file" class="form-control" name="photo" value="{{nuress.photo}}">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save</button>
        </div>

    </form>
    <br>

    <a href="/specialist" class="btn btn-dark"> Specialist</a>
    <a href="/hospital" class="btn btn-dark">Hospital</a>
    <a href="/doctors" class="btn btn-dark">Doctors</a>
    <a href="/nuress/create" class="btn btn-dark">Add Nuress</a>
    <a href="/nuress" class="btn btn-dark">Nuress</a>
</body>

</html>