<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Nuress</title>
</head>

<body>
    <h1>Nuress</h1>

    {{#if status}}
    <div class="alert alert-success" role="alert">
        {{specialists.name}} Update Successfully .
    </div>
    {{/if}}
    <ul>
        <li>
            Name :
            {{ nuress.name }}
        </li>
        <br>
        <li>
            Specialists :
            {{ nuress.specialist_id.name }}
        </li>
        <br>
        <li>
            Phone :
            {{ nuress.phone }}
        </li>
        <br>
        <li>
            Hospital :
            {{ nuress.hospital_id.name }}
        </li>
        <br>
        <li>
            Photo :
            {{ nuress.photo }}
        </li>
    </ul>



    <a href="/specialist" class="btn btn-dark">Specialist</a>
    <a href="/hoospital" class="btn btn-dark">Hospital</a>
    <a href="/worknuresss" class="btn btn-dark">Work nuresss</a>
    <a href="/nuress/create" class="btn btn-dark">Add Nuress</a>
    <a href="/nuress" class="btn btn-dark">Nuress</a>
</body>

</html>